body{
  font-family:'Lato',  sans-serif;
  background-repeat: no-repeat;
  max-width: 600px;
  background-color: #cee8eb75;
  font-size:16px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  width: 80%;
  margin:auto;
  height: 400px;
  }


#resultImg {
  opacity: 0.80;
  border-radius: 40px;
}

#round-container {
  background-color: cyan;
  padding: 12px;
  text-align: center;
}

.btn , #round-container {
  border-radius: 15px;
}

.player {
  background-color:  lightgray;
  text-align: center;
  padding : 50px;
  border-radius: 15px;
}
.globals {
  color : red;
  font-size: 4rem;
}



#player1 {
  grid-column-start: 1;
  text-align: center;
  padding: 5px auto;
  padding-top:50px ;
}

#player2 {
  text-align: center;
  grid-column-start: 3;
  padding: 5px auto;
  padding-top:50px ;
}
#game {
  display : flex;
  justify-content: space-between;
  flex-direction: column;
  grid-column-start: 2;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
}
}