body{
font-family:'Lato',  sans-serif;
font-size: 2rem;;
text-align: center;
max-width: 1000px;

}

#newParty{
  margin : 25px;
  padding-bottom: 20px;
}

.btn {
  width: 280px;
  height : 100px;
  margin : 10px;
  border-radius: 10px;
  font-size: 1em;
}

#container {
  background-image: url("images/piste.jpg");

}

#resultImg {
  opacity: 0.80;
  border-radius: 40px;
  width: 300px;
}

#round-container {
  /* background-color: #198754; */
  color:red;
}

.player {
  background-color:  lightgray;
  text-align: center;
  padding : 50px;
  border-radius: 15px;
}

div {
  padding:   20px;
}

.globals {
  color : red;
  font-size: 4rem;
}
#round-container {

  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 25px;
}
/* media query pour les phone ------------ */ 
@media screen and (max-width: 992px) {
  #resultImg {
    padding-top: 15px;;
  }
  div {
    padding: 5px;
  }
  .player {
    width : 500px;
    height : 250px;
    font-size : 1.6em;
    padding : 25px;
    margin-bottom: 25px;
  }
  .globals {
    color : red;
    font-size: 1.5em;
  }
  #round-container {
    width : 600px;
    margin: auto;
    margin-top: 25px;
    font-size: 1.8em;
    font-weight: bolder;

  }

.btn {
  width: 600px;
  height : 150px;
  margin : 30px;
  border-radius: 10px;
  font-size: 1.6em;
}
#resultImg {
  width: 250px;
  /*box-shadow(30px 10px 4px #821a15);*/
  box-shadow: 10px 5px 5px red; 
}

}