body{
  font-family:'Lato',  sans-serif;
  background-repeat: no-repeat;
  margin:auto;
  font-size:50px;
  }

  #container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas:
    "player1 game player2";
    width: 80%;
    margin:auto;
    height: 400px;
  }

#resultImg {
  opacity: 0.80;
  border-radius: 40px;
}

#round-container {
  background-color: cyan;
  padding: 12px;
  text-align: center;
}

.btn , #round-container {
  border-radius: 15px;
  font-size: 2rem;
}


.globals {
  color : red;
  font-size: 4rem;
}



.player {
  background-color:  lightgray;
  text-align: center;
  padding: 5px;
  padding-top:50px;
  border-radius: 25px;  

}

#player1 {
  grid-column-start: 1;
  text-align: center;
  grid-area : player1;
}

#player2 {
  text-align: center;
  grid-column-start: 3;
  padding-top:50px ;
  grid-area : player2;
}
#game {
  display : flex;
  justify-content: space-around;
  flex-direction: column;
  grid-column-start: 2;
  grid-area : game;
  margin: 10px;
}
#de{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}




/*---------version mobile-----------------*/
@media  (max-device-width: 768px)  {
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 80%;
    grid-template-areas:
    "player1 "
    "player2"
    "game";
    width: 100%;
    height:auto;
    margin:auto;
  }

  #resultImg {
    width : 50%;
    display: block;
    margin: auto;
  }
 


  #player1 {
    padding-top: 25px;
    margin: 25px;
  }
  #player2 {
    padding-top: 25px;
    margin: 25px;
  }
  .globals {
    color : red;
    font-size: 4rem;
  }
  .btn {
    margin-top: 10px;
    font-size:3rem;
  }
}